#banner {
  background: #fafafa;
  display: flex;
  position: relative;
  padding: 0 0.4em 0 0.4em;
}

body {
  padding: 0 0.4em 0 0.4em;
  margin: 0;
  border: 0;
  font-display: auto;
  font-size: 1rem;
  line-height: 1.54;
  background-color: #fff;
  color: #222;
  display: flex;
  flex-direction: column;
}

#menu > ul {
  display:inline;
  margin-top: 0.4em;
  list-style-type: none;
  padding-bottom: 0.2em;
  border-bottom: 10px #000000;
}
#menu > ul > li {
  display: inline;
  font-size: large;
}
#menu > ul > li + li {
  padding-left: 1em;
}
#menu > ul > li.active {
  font-weight: bold;
}